@model Student

<h2>Öğrenci Güncelleme</h2>
<hr>

<div class="row">
    <div class="col-8">
        <form asp-controller="Student" asp-action="Edit" method="post">
            <input type="hidden" asp-for="StudentId"><!--bu bişgiyi ben hidden ile gizli alarak güncellemek istediğim öğrenci kimse onun id si alarak onun bilgilerini getirip günceleme yapıcam-->
            <div class="mb-3">
                <label asp-for="StudentAd" class="form-label">Öğrenci Adı</label>
                <input asp-for="StudentAd" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="StudentSoyad" class="form-label">Öğrenci Soyad</label>
                <input asp-for="StudentSoyad" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Eposta</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Telefon</label>
                <input asp-for="Phone" class="form-control">
            </div>
        
            <button type="submit" class="btn btn-secondary">Kaydet</button>
        
        </form>
    </div>
    <div class="col-4">
        <h4>Kurslar</h4>
        <hr>
        <ul>
            @foreach(var item in @Model.CourseRegistrations)
            {
                <li>@item.Course.Title</li>
                <!--
                    bura ben CourseRegistration.cs içine eriştim ve ordan istediğim her şeyi yazdırabilirim ama orda,
                    public Course Course { get; set; } = null! bu bilgide title yok onun için burdan course içine girip ordan course.cs ye gidip onun içindeki title çağırdım, ama bunu gerçekleştirmek içinde ekstradan join işlemini controller da inculude işlemi ile hem course yi hemde CourseRegistration eklersem görünür.
                -->
            }
        </ul>
        <!--burdaki döngü student.cs içinde oluşturduğum yeni prop ile öğrenciye ait kurs bilgilerini gösterdim
            public ICollection<CourseRegistration> CourseRegistrations { get; set; } = new List<CourseRegistration>();//bunu eklememin nedeni öğrenci tablosundan detaya(edite)bastığımda o öğrencinin aldığı kursları görmek
        -->
    </div>
</div>

